body {   
  text-align: center;  
  padding: 20px;  
background-color: #F8F9FA;  
background-size: 1800% 1800%;  
font-family: "Lucida Console", "Courier New", monospace;  
-webkit-animation: rainbow 18s ease infinite;  
-z-animation: rainbow 18s ease infinite;  
-o-animation: rainbow 18s ease infinite;  
  animation: rainbow 18s ease infinite; }  
h1  {  
  line-height: 2em;   
  padding-bottom: 5px;  
  text-transform: none;  
  font-size: 1.7em;  
 font-weight: bold;  
  font-style: italic;  
 font-family: "Lucida Console", "Courier New", monospace;  
  color: #999;   
  letter-spacing: -0.005em;  
  word-spacing: 1px;  
  letter-spacing: none;  
}  
h2  {  
  margin-top: 40px;  
  text-transform: none;  
  font-size: 1.75em;  
  font-weight: bold;  
  font-family: "Lucida Console", "Courier New", monospace;  
  color: #999;   
  letter-spacing: -0.005em;   
  word-spacing: 1px;  
  letter-spacing: none;  
}  
.clock {  
    position: absolute;  
    top: 50%;  
    left: 50%;  
     padding-top: 15px;  
    transform: translateX(-50%) translateY(-50%);  
    color: #db1818;  
    font-size: 60px;  
    font-family: Orbitron;  
    letter-spacing: 7px;  
}  